.static-data {
  white-space: pre-wrap;
}

.job-header {
  display: flex;
  flex-direction: row;
}

.job-header > * {
  padding-left: 10px;
  padding-right: 10px;
}

.healthy {
  color: green;
}

.not-healthy {
  color: red;
}

.present-dc {
  float: left;
}