<div class="job-header">
  <p>Job ID: {{jobId}}</p>
  <p>Cluster Name: {{clustername}}</p>
  <p>Build: {{build}}</p>
  <p>Host: {{master_node}}</p>
</div>
<mat-expansion-panel *ngFor="let iter of parsed_data">
  <mat-expansion-panel-header>Iteration {{iter.iteration}}</mat-expansion-panel-header>
  <section>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab *ngFor="let dc of iter.collected" [label]="dc['name']">
        <p *ngIf="dc['type'] == 'static'" class="static-data">{{dc['data']}}</p>
        <div *ngIf="dc['type'] == 'time_series'">
          <ngx-charts-line-chart
            [view]="[800,600]"
            [results]="dc['timeseries']"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="'Time'"
            [yAxisLabel]="'Usage'"
            [timeline]="true"
          ></ngx-charts-line-chart>
        </div>
        <div *ngIf="dc['type'] == 'logs'">
          <p *ngFor="let link of dc['data']" class="static-data">url: <a href="{{link}}">{{link}}</a></p>
          <p *ngIf="dc['progress']">{{dc['progress']}}</p>
          <p *ngIf="dc['error']">Upload Error: {{dc['error']}}</p>
          <p *ngIf="dc['snapshot_url']">Supportal Snapshot URL: <a href="{{dc['snapshot_url']}}">{{dc['snapshot_url']}}</a></p>
          <button (click)="onClickUploadSupportal(jobId, iter.iteration)" [disabled]="dc['snapshot_url'] != undefined || dc['progress']">Upload to Supportal</button>
          <button (click)="onClickDownloadAll(iter)">Download All</button>
        </div>
        <div *ngIf="dc['type'] == 'csummary'">
          <div *ngFor="let item of dc['data']">
            <p>{{item.hostname}} <b *ngIf="item.status == 'healthy'" class="healthy">({{item.status}})</b><b *ngIf="item.status != 'healthy'" class="not-healthy">({{item.status}})</b>: {{item.services}}</p>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</mat-expansion-panel>
