<!--
<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Start Job</mat-expansion-panel-header>
    <section>
      <div class="request-col">
        <pre>Required:</pre>
        <form>
          <mat-form-field>
            <mat-label>Host</mat-label>
            <input [(ngModel)]="startHost" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter Host">
          </mat-form-field>
        </form>
        <form>
          <mat-form-field>
            <mat-label>Cluster Name</mat-label>
            <input [(ngModel)]="startClusterName" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter Cluster Name">
          </mat-form-field>
        </form>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Optional:</mat-expansion-panel-header>
          <section>
            <div class="request-col">
              <mat-label>Config File</mat-label>
              <input type="file" (change)="uploadConfigFile($event)">
              <form>
                <mat-form-field>
                  <mat-label>CB Host Username</mat-label>
                  <input matInput [(ngModel)]="startRestUsername" [ngModelOptions]="{standalone: true}" placeholder="Enter CB Host Username">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>CB Host Password</mat-label>
                  <input matInput [type]="'password'" [(ngModel)]="startRestPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter CB Host Password">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>SSH Username</mat-label>
                  <input matInput [(ngModel)]="startSSHUsername" [ngModelOptions]="{standalone: true}" placeholder="Enter SSH Username">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>SSH Password</mat-label>
                  <input matInput [type]="'password'" [(ngModel)]="startSSHPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter SSH Password">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>Docker Host</mat-label>
                  <input matInput [(ngModel)]="startDockerHost" [ngModelOptions]="{standalone: true}" placeholder="Enter Docker Host">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>Emails</mat-label>
                  <input matInput [(ngModel)]="startEmails" [ngModelOptions]="{standalone: true}" placeholder="Enter Emails">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>Alert Frequency</mat-label>
                  <input matInput [(ngModel)]="startAlertFrequency" [ngModelOptions]="{standalone: true}" placeholder="Enter Alert Frequency">
                </mat-form-field>
              </form>
            </div>
          </section>
        </mat-expansion-panel>
        <button mat-raised-button (click)="onClickStart()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="startLoading"></mat-progress-bar>
        <div class="results" *ngIf="startData != '' || startFail != ''">
          <mat-divider></mat-divider>
          <pre *ngIf="startData != ''">Job ID: {{startData}}</pre>
          <pre *ngIf="startFail != ''">Error: {{startFail}}</pre>
        </div>
      </div>
    </section>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Status</mat-expansion-panel-header>
    <section>
      <div class="request-col">
        <pre>Required:</pre>
        <form>
          <mat-form-field>
            <mat-label>Job ID</mat-label>
            <input matInput [(ngModel)]="statusJobId" [ngModelOptions]="{standalone: true}" placeholder="Enter ID">
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="onClickStatus()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="statusLoading"></mat-progress-bar>
        <div class="results" *ngIf="(statusData | json) != '{}' || statusFailData != ''">
          <mat-divider></mat-divider>
          <div *ngIf="(statusData | json) != '{}'">
            <pre>Running: {{statusData.Running}}</pre>
            <pre>Waiting: {{statusData.Waiting}}</pre>
          </div>
          <pre *ngIf="statusFailData != ''">Error: {{statusFailData}}</pre>
        </div>
      </div>
    </section>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Stop Job</mat-expansion-panel-header>
    <section>
      <div class="request-col">
        <pre>Required:</pre>
        <form>
          <mat-form-field>
            <mat-label>Job ID</mat-label>
            <input matInput [(ngModel)]="stopJobId" [ngModelOptions]="{standalone: true}" placeholder="Enter ID">
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="onClickStop()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="stopLoading"></mat-progress-bar>
        <div class="results" *ngIf="stopData != '' || stopFailData != ''">
          <mat-divider></mat-divider>
          <pre *ngIf="stopData != ''">Success Message: {{stopData}}</pre>
          <pre *ngIf="stopFailData != ''">Error: {{stopFailData}}</pre>
        </div>
      </div>
    </section>
  </mat-expansion-panel>
</div>
-->
<div>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Start Job">
      <div class="request-col">
        <h2>Required:</h2>
        <form>
          <mat-form-field>
            <mat-label>Host</mat-label>
            <input [(ngModel)]="startHost" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter Host">
          </mat-form-field>
        </form>
        <form>
          <mat-form-field>
            <mat-label>Cluster Name</mat-label>
            <input [(ngModel)]="startClusterName" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter Cluster Name">
          </mat-form-field>
        </form>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Optional:</mat-expansion-panel-header>
          <section>
            <div>
              <mat-label>Config File</mat-label>
              <input type="file" (change)="uploadConfigFile($event)">
              <form>
                <mat-form-field>
                  <mat-label>CB Host Username</mat-label>
                  <input matInput [(ngModel)]="startRestUsername" [ngModelOptions]="{standalone: true}" placeholder="Enter CB Host Username">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>CB Host Password</mat-label>
                  <input matInput [type]="'password'" [(ngModel)]="startRestPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter CB Host Password">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>SSH Username</mat-label>
                  <input matInput [(ngModel)]="startSSHUsername" [ngModelOptions]="{standalone: true}" placeholder="Enter SSH Username">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>SSH Password</mat-label>
                  <input matInput [type]="'password'" [(ngModel)]="startSSHPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter SSH Password">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>Docker Host</mat-label>
                  <input matInput [(ngModel)]="startDockerHost" [ngModelOptions]="{standalone: true}" placeholder="Enter Docker Host">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>Emails</mat-label>
                  <input matInput [(ngModel)]="startEmails" [ngModelOptions]="{standalone: true}" placeholder="Enter Emails">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>Alert Frequency</mat-label>
                  <input matInput [(ngModel)]="startAlertFrequency" [ngModelOptions]="{standalone: true}" placeholder="Enter Alert Frequency">
                </mat-form-field>
              </form>
            </div>
          </section>
        </mat-expansion-panel>
        <button mat-raised-button (click)="onClickStart()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="startLoading"></mat-progress-bar>
        <div class="results" *ngIf="startData != '' || startFail != ''">
          <mat-divider></mat-divider>
          <pre *ngIf="startData != ''">Job ID: {{startData}}</pre>
          <pre *ngIf="startFail != ''">Error: {{startFail}}</pre>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Status">
      <div class="request-col">
        <pre>Required:</pre>
        <form>
          <mat-form-field>
            <mat-label>Job ID</mat-label>
            <input matInput [(ngModel)]="statusJobId" [ngModelOptions]="{standalone: true}" placeholder="Enter ID">
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="onClickStatus()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="statusLoading"></mat-progress-bar>
        <div class="results" *ngIf="(statusData | json) != '{}' || statusFailData != ''">
          <mat-divider></mat-divider>
          <div *ngIf="(statusData | json) != '{}'">
            <pre>Running: {{statusData.Running}}</pre>
            <pre>Waiting: {{statusData.Waiting}}</pre>
          </div>
          <pre *ngIf="statusFailData != ''">Error: {{statusFailData}}</pre>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Stop Job">
      <div class="request-col">
        <pre>Required:</pre>
        <form>
          <mat-form-field>
            <mat-label>Job ID</mat-label>
            <input matInput [(ngModel)]="stopJobId" [ngModelOptions]="{standalone: true}" placeholder="Enter ID">
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="onClickStop()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="stopLoading"></mat-progress-bar>
        <div class="results" *ngIf="stopData != '' || stopFailData != ''">
          <mat-divider></mat-divider>
          <pre *ngIf="stopData != ''">Success Message: {{stopData}}</pre>
          <pre *ngIf="stopFailData != ''">Error: {{stopFailData}}</pre>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
