mat-divider {
  padding-bottom: 10px;
}

.results {
  padding-top: 10px;
}

.request-col {
  padding: 20px;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}

.status-text {
  white-space: pre-wrap;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.bottom-config {
  display: flex;
  flex-flow: column;
}

.email-input {
  width: 80%;
}