<div>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Start Job">
      <div class="request-col">
        <h2>Required:</h2>
        <form>
          <mat-form-field>
            <mat-label>Host</mat-label>
            <input [(ngModel)]="startHost" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter Host">
          </mat-form-field>
        </form>
        <form>
          <mat-form-field>
            <mat-label>Cluster Name</mat-label>
            <input [(ngModel)]="startClusterName" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter Cluster Name">
          </mat-form-field>
        </form>
        <mat-expansion-panel>
          <mat-expansion-panel-header>Optional:</mat-expansion-panel-header>
          <section>
            <div>
              <mat-expansion-panel>
                <mat-expansion-panel-header>Data Collectors Configuration</mat-expansion-panel-header>
                <section>
                  <div *ngFor="let dc of dc_schema">
                    <span>
                      <mat-checkbox [(ngModel)]="dc.run">
                        <mat-label>{{dc.name}}</mat-label>
                      </mat-checkbox>
                    </span>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="bottom-config">
                    <mat-checkbox [(ngModel)]="startRunAll">Run All</mat-checkbox>
                    <mat-label>Config File: </mat-label>
                  </div>
                  <input type="file" (change)="uploadConfigFile($event)">
                </section>
              </mat-expansion-panel>
              <form>
                <mat-form-field>
                  <mat-label>CB Host Username</mat-label>
                  <input matInput [(ngModel)]="startRestUsername" [ngModelOptions]="{standalone: true}" placeholder="Enter CB Host Username">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>CB Host Password</mat-label>
                  <input matInput [type]="'password'" [(ngModel)]="startRestPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter CB Host Password">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>SSH Username</mat-label>
                  <input matInput [(ngModel)]="startSSHUsername" [ngModelOptions]="{standalone: true}" placeholder="Enter SSH Username">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>SSH Password</mat-label>
                  <input matInput [type]="'password'" [(ngModel)]="startSSHPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter SSH Password">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>Docker Host</mat-label>
                  <input matInput [(ngModel)]="startDockerHost" [ngModelOptions]="{standalone: true}" placeholder="Enter Docker Host">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field class="email-input">
                  <mat-label>Emails</mat-label>
                  <input matInput [(ngModel)]="startEmails" [ngModelOptions]="{standalone: true}" placeholder="Enter Emails" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of autoCompleteEmails" [value]="option.emails">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <mat-label>Alert Frequency</mat-label>
                  <input matInput [(ngModel)]="startAlertFrequency" [ngModelOptions]="{standalone: true}" [disabled]="startRunOne" placeholder="Enter Alert Frequency">
                </mat-form-field>
              </form>
              <mat-checkbox [(ngModel)]="startRunOne">Run One Iteration</mat-checkbox>
            </div>
          </section>
        </mat-expansion-panel>
        <button mat-raised-button (click)="onClickStart()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="startLoading"></mat-progress-bar>
        <div class="results" *ngIf="startData != '' || startFail != ''">
          <mat-divider></mat-divider>
          <pre *ngIf="startData != ''">Job ID: {{startData}}</pre>
          <pre *ngIf="startFail != ''">Error: {{startFail}}</pre>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Status">
      <div class="request-col">
        <pre>Required:</pre>
        <form>
          <mat-form-field>
            <mat-label>Job ID</mat-label>
            <input matInput [(ngModel)]="statusJobId" [ngModelOptions]="{standalone: true}" placeholder="Enter ID">
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="onClickStatus()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="statusLoading"></mat-progress-bar>
        <div class="results" *ngIf="(statusData | json) != '{}' || statusFailData != ''">
          <mat-divider></mat-divider>
          <div *ngIf="(statusData | json) != '{}'">
            <pre class="status-text">Running: {{statusData.Running}}</pre>
            <pre class="status-text">Waiting: {{statusData.Waiting}}</pre>
          </div>
          <pre *ngIf="statusFailData != ''">Error: {{statusFailData}}</pre>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Stop Job">
      <div class="request-col">
        <pre>Required:</pre>
        <form>
          <mat-form-field>
            <mat-label>Job ID</mat-label>
            <input matInput [(ngModel)]="stopJobId" [ngModelOptions]="{standalone: true}" placeholder="Enter ID">
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="onClickStop()">Send Request</button>
        <mat-progress-bar mode="indeterminate" *ngIf="stopLoading"></mat-progress-bar>
        <div class="results" *ngIf="stopData != '' || stopFailData != ''">
          <mat-divider></mat-divider>
          <pre *ngIf="stopData != ''">Success Message: {{stopData}}</pre>
          <pre *ngIf="stopFailData != ''">Error: {{stopFailData}}</pre>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
