<mat-toolbar>
  <span>Running Jobs</span>
  <button mat-raised-button (click)="onClickRefresh()">Refresh</button>
</mat-toolbar>
<div class="no-jobs" *ngIf="serverStatusData.length == 0">
  <p>No Running Jobs</p>
</div>
<mat-expansion-panel *ngFor="let data of serverStatusData">
  <mat-expansion-panel-header>{{data.clustername}}</mat-expansion-panel-header>
  <section>
    <p><b>Master Node: </b>{{data.masternode}}<br></p>
    <p><b>Job ID: </b>{{data.jobId}}<br></p>
    <p><b>Alert Frequency: </b>{{data.alert_freq}}<br></p>
    <p><b>Alert Iteration: </b>{{data.alert_iter}}<br></p>
    <p><b>Time Running (secs): </b>{{data.time_running}}<br></p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Data Collectors</mat-expansion-panel-header>
      <section>
        <p *ngFor="let task of data.running_tasks">{{task}}</p>
      </section>
    </mat-expansion-panel>
    <button mat-raised-button (click)="onClickStop(data.jobId)">Stop Job</button>
  </section>
</mat-expansion-panel>
